.error_404 {
    align-items: center;
    vertical-align: middle;
    background-color: #c7c7c7;
}

.error_404 h1 {
    margin-top: 200px;
    text-align: center;
    font-size: 90px;
}

.error_404 p {
    text-align: center;
    font-size: 20px;
}

